body{
  font-family:Arial,sans-serif;
  background:#f4f9ff;
  margin:0;
  padding:20px;
}
h1{
  text-align:center;
  color:#0b6efd;
}
button{
  width:100%;
  padding:15px;
  margin:10px 0;
  border:none;
  border-radius:10px;
  background:#0b6efd;
  color:white;
  font-size:18px;
}
