body{
    font-family: Arial, sans-serif;
    background:#f4f8fb;
    margin:0;
    padding:20px;
    text-align:center;
}

header{
    background:#0d6efd;
    color:white;
    padding:20px;
    border-radius:10px;
}

button{
    width:90%;
    max-width:300px;
    padding:15px;
    margin:10px;
    font-size:18px;
    background:#0d6efd;
    color:white;
    border:none;
    border-radius:8px;
}

button:hover{
    background:#0b5ed7;
}

h2,h3{
    color:#0d6efd;
}

p{
    font-size:16px;
}
